body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#root {
  position: relative;
  background-color: cornflowerblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title_input_box {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
#title_input_box input {
  width: 100%;
  font-size: 40px;
  padding: 10px;
  margin: auto;
}
#title_input_box textarea {
  padding: 10px;
}
#btn_box {
  display: flex;
  justify-content: space-between;
}
